$btn-info-color: #0a58ca;

.card {
  width: 20rem;
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-login {
  height: 4rem;
}

#btn-login {
  width: 100%;
}

.card-footer {
  text-align: center;
}

.btn-info {
  color: white;
  background-color: $btn-info-color;
  border-color: $btn-info-color;
}