<div class="card">
  <div class="card-header">
    <h5 class="card-title">Reset Password</h5>
    <h6 class="card-subtitle">Please enter your email address to request a password reset.</h6>
  </div>

  <div class="card-body">

    <div class="formGroup">
      <input type="email" class="formControl" placeholder="Email Address" [(ngModel)]="email" required>
    </div>

    <!-- Calling ForgotPassword from AuthService Api -->
    <div class="formGroup">
      <button type="button" class="btn btn-primary mt-1" (click)="resetPassword()">Reset Password</button>
    </div>

  </div>

  <div class="card-footer">
    <button type="button" routerLink="/login" class="btn btn-info ml-2">Log In</button>
  </div>
</div>
